.dark-blue-bg {
    background-color: $dark-blue;
}

.mid-blue-bg {
    background-color: $mid-blue;
}

.light-blue-bg {
    background-color: $light-blue;
}

.dark-blue-bg-m {
    background-color: $dark-blue;
    @include from($desktop) {
        background-color: transparent;
    }
}

.mid-blue-bg-m {
    background-color: $mid-blue;
    @include from($desktop) {
        background-color: transparent;
    }
}

.light-blue-bg-m {
    background-color: $light-blue;
    @include from($desktop) {
        background-color: transparent;
    }
}

.dark-blue-text {
    color: $dark-blue;
}

.mid-blue-text {
    color: $mid-blue;
}

.link-blue-text {
    color: $link-blue;
}

a.link-blue-text {
    color: $link-blue;
}