.heading-bar {
    padding-top: 0;
    padding-bottom: 0;
    height: 5rem;
    @include from($desktop) {
        height: 10rem;
        margin-bottom: $size-4;
    }
    .container  {
        height: 100%;
        display: flex;
        align-items: center;
        
        @include from($tablet) {
            background-image: url('../img/logo-bg-white.svg');
            background-repeat: no-repeat;
            background-position: right;
            background-size: 7%;
            background-position: bottom right;
        }
        
        .title {
            @include mobile {
                font-size: 1.5rem;
            }
        }
    }
    &.dark-blue-bg {
        .title {
            color: white;
        }
    }
    &.light-blue-bg {
        .title {
            color:$dark-blue;
        }
    }
}