body {
    font-family: 'Raleway', sans-serif;
}

h1.title.is-1 {
    font-size: $size-4;
    @include from($desktop) {
        // 44px
        font-size: 2.75rem;
    }
}

h2.title.is-2 {
    // 30px
    font-size: 1.875rem;
    @include from($desktop) {
    // 44px
    font-size: 2.75rem;
    }
}

h3.title.is-3 {
    // 24px
    font-size: 1.5rem;
    @include from($desktop) {
        // 30px
        font-size: 1.875rem;
    }
}

h4.title.is-4 {
    font-size: $size-6;
    @include from($desktop) {
        font-size: 1.875rem;
    }
}

h1, h2, h3 {
    &.title {
        text-transform: uppercase;
    }
}

p {
    font-size: 1.125rem;
    font-weight: 600; 

    @include from($desktop) {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }
}