body {
    font-family: 'Raleway', sans-serif;
}

h1.title.is-1 {
    font-size: $size-4;
    @include from($desktop) {
        // 44px
        font-size: 2.75rem;
    }
}

h2.title.is-2 {
    // 30px
    font-size: 1.875rem;
    @include from($desktop) {
    // 44px
    font-size: 2.75rem;
    }
}

h3.title.is-3 {
    // 24px
    font-size: 1.5rem;
    @include from($desktop) {
        // 30px
        font-size: 1.875rem;
    }
}

h4.title.is-4 {
    font-size: $size-6;
    @include from($desktop) {
        font-size: 1.875rem;
    }
}

h1, h2, h3 {
    &.title {
        text-transform: uppercase;
    }
}

p, ul li {
    font-size: 1.125rem;
    font-weight: 600; 

    @include from($desktop) {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }
}

.content a,
a {
    color: $link-blue;
    &:hover {
        color: $mid-blue;
    }
}

.container {
    .content {
        ul {
            margin-left: $size-6;
            margin-top: $size-4;
            margin-bottom: $size-4;
            @include from($desktop) {
                margin-top: $size-1;
                margin-bottom: $size-1;
                margin-left: $size-1;
            }

            li {
                color: $dark-blue;
                @include from($desktop) {
                    line-height: 2rem;
                }
            }
        }
    }
}
