// Colours
$dark-blue: rgba(35, 118, 182, 1);
$mid-blue: rgba(156, 193, 222, 1);
$light-blue: rgba(222, 234, 244, 1);
$dark-grey: rgba(51, 51, 51, 1);
$link-blue: rgba(57, 132, 189, 1);

// Header heights
$header-height: 61px;
$header-height-lrg: 150px;

// Logo Height
$logo-height: 90px;
$logo-width: 300px;