.site-header {
    height: $header-height;
    align-items: center;
    @include from($desktop) {
        height: $header-height-lrg;
        display: flex;
        justify-content: space-between;
    }
    .navbar-brand {
        @include from($desktop) {
            width: 30%;
        }
        .header-logo {
            text-indent: -1000rem;
            display: block;
            width: $logo-width / 2;
            height: $logo-height / 2;
            background-image: url('../img/cdl-solutions-header-logo.png');
            background-repeat: no-repeat;
            background-size: contain;
            margin: $size-6 / 2;
            @include from($desktop) {
                width: $logo-width;
                height: $logo-height;
            }
        }
        .navbar-burger {
            background: transparent;
            color: $dark-blue;
        }
    }
    .navbar-menu {
        background-color: $dark-blue;
        height: 100vh;
        display: flex;
        position: fixed;
        width: 100%;
        right: -100%;
        transition: right .5s ease;
        .menu-is-open & {
            // display: flex;
            right: 0;
        }
        @include from($desktop) {
            position: unset;
            right: initial;
            height: auto;
            background-color: transparent;
            width: 70%;
            justify-content: flex-end;
        }
        .menu-menu-1-container {
            @include mobile {
                width: 100%;
            }
            .menu {
                margin-top: $size-2;
                text-align: center;
                text-transform: uppercase;
                li {
                    display: block;
                    
                    a {
                        color: $light-blue;
                    }
                }
                @include from($desktop) {
                    li {
                        padding-left: $size-1;
                        &.current-menu-item {
                            &::before {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 25px;
                                height: 35px;
                                left: 12px;
                                top: -10px;
                                background-image: url('../img/nav-logo.svg');
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                            }
                        }
                        &.menu-item-has-children {
                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 14px;
                                height: 9px;
                                right: -25px;
                                top: 6px;
                                background-image: url('../img/chevron-down.svg');
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                            }
                        }
                        a {
                            color: black;
                            font-weight: 600;
                        }
                    }
                }
                .sub-menu {
                    display: block;
                    background: $dark-blue;
                    text-align: left;
                    margin-left: 0;
                    li {
                        padding: $size-6 $size-4;
                        a {
                        color: white;
                        }
                    }
                }
            }
        }
    }
}