body {
    font-family: 'Raleway', sans-serif;
}

h1.title.is-1 {
    font-size: $size-4;
    @include from($desktop) {
        font-size: 2.75rem;
    }
}

h2.title.is-2 {
    font-size: $size-5;
    @include from($desktop) {
    font-size: 2.75rem;
    }
}

h3.title.is-3 {
    // font-size: $size-6;
    @include from($desktop) {
        // 30px
        font-size: 1.875rem;
    }
}

h4.title.is-4 {
    font-size: $size-6;
    @include from($desktop) {
        font-size: 2.125rem;
    }
}

h1, h2 {
    &.title {
        text-transform: uppercase;
    }
}

p {
    font-weight: 600;
    line-height: 1.625rem;
}